/* Reset Syles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}

/* Common Styles */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* Header */
.header {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  background-color: #ffffff;
}

/* Logo*/
.logo {
  width: 44px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-dark {
  width: 71px;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Nav */
.nav-studio {
  width: 48px;
}
.nav-portfolio {
  width: 66px;
}
.nav-contacts {
  width: 67px;
}
.nav-link {
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Adress */
.address {
  font-style: normal;
}
.contact-mail {
  width: 153px;
}
.contact-tel {
  width: 151px;
}
.contact-link {
  color: #434455;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Button */
.hero-section {
  background-color: #2e2f42;
}
.sec-title {
  width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 49px;
}
.button {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Section Advantages */
.adv .title {
  width: 264px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  width: 264px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section Our Team*/
.our-team {
  background-color: #f4f4fd;
}
.team-title {
  width: 162px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list .list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.li-img {
  background-color: #ffffff;
}
/* Section Our Portfolio */
.op-title {
  width: 218px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.op-list {
  background-color: #ffffff;
}
.op-list .list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.f-logo {
  width: 44px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-light {
  width: 71px;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.f-text {
  width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
